<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>735223185739-rljhpqn75m4394afvvckf4o77jpp6g95.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735223185739-rljhpqn75m4394afvvckf4o77jpp6g95</string>
	<key>API_KEY</key>
	<string>AIzaSyA76XKnwaaTUi69QtZTGs2fXePA-Se-Cjc</string>
	<key>GCM_SENDER_ID</key>
	<string>735223185739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abs.PostMe</string>
	<key>PROJECT_ID</key>
	<string>postme-30d0e</string>
	<key>STORAGE_BUCKET</key>
	<string>postme-30d0e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:735223185739:ios:8bb60b1f02dfd3b4</string>
	<key>DATABASE_URL</key>
	<string>https://postme-30d0e.firebaseio.com</string>
</dict>
</plist>